html {
	background-image: linear-gradient(maroon,  black);	
}
body  {
	max-width: 960px;
	width: 95%;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
}
@font-face {
   font-family: georgia;
   src: url(../../public/fonts/georgia.woff);
}
@font-face {
   font-family: trebuc;
   src: url(../../public/fonts/trebuc.woff);
}
#red{
	color: red;
}
section p::first-letter {
	font-size: 500%;
	color: white;
	background-image: url("../../public/images/tree-of-death.jpg");
	background-size: 100% 100%;
	border-style: solid;
	border-width: 2px;
	border-color: maroon;
	float: left;
}
header {
	padding: 15px;
          font-family: trebuc; 
} 

h2, h3, p {
	margin: 0;
	padding: 0;
}
header h2 {
	font-size: 230%;
	padding-bottom: .75em;
}
header h3 {
	font-size: 125%;
	padding-bottom: .75em;
}
header h4 {
	font-size: 90%;
}
main {
	padding: 1.25em;
    font-family: georgia;
}
	main h1 {
		font-size: 140%;
		margin-bottom: .5em;
	}
	main h1:first-letter {
		font-size: 240%;
	}
	main h2 {
		font-size: 125%;
		margin: .8em 0 .5em 0;
	}
	main h3 {
		font-size: 110%;
		margin: .8em 0 .5em 0;
	}
	main p {
		margin-bottom: .5em;
	}
	#a {
		float: right;
	}
	#b {
		float: left;
        padding: .5em;
	}
footer {
	clear: both;
	padding: 15px;
}
footer div h1{
    padding: 0;
    margin: 0;
    float: left;
    font-size: 110%;
}
.checked {
	color: lightslategrey;
}
	footer img {
		align-content: center;
		width: 98%;
	}
	footer p {
		font-size: 60%;
	}


@media only screen and (max-width: 800px) {
	html {
		background-image: none;
	}
	body {
		font-size: 90%;
		box-shadow: none;
	}
	#a {
		max-width: 75%;
	}
	#b {
		max-width: 75%;
	}
}
@media only screen and (max-width: 767px) {

	header h2 {
		font-size: 200%;
	}

@media only screen and (max-width: 479px) {
	header h2 {
		font-size: 180%;
	}
	header h3 {
		font-size: 115%;
	}
	section h1 {
		font-size: 130%;
	}
	section h1:first-letter {
		font-size: 180%;
	}
}
